@page
@model IndexModel
@{
    ViewData["Title"] = "ATD";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the LADOT BSG ATD Bicycle Parking Program DB App!</h1>
        <p>Learn about <a href="https://ladotlivablestreets.org/content-detail/Sidewalk-Bicycle-Parking-Program" target="_blank">the LADOT Sidewalk Bike Parking Program</a>.</p>
        <p>To view <a href="https://docs.google.com/forms/d/e/1FAIpQLSdbdsoGKNEScCfVL-f980wzz3xPIKqknQieTOF3LFAVXbIGOA/viewform" target="_blank">the bike parking rack request form</a>.</p>
    </div>
    
    <div>
        
            Requests
        
        <table>
            
        </table>
    </div>